.Form {
  justify-self: end;

  display: grid;
  grid-template-columns: 75% 25%;
  width: 100%;
  justify-content: start;
}

.Form-input {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-family: inherit;
  outline: none;
  width: 100%;
  border: 2px solid black;
  margin-right: auto;
}

.Form-btn {
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  font-family: inherit;
  background: black;
  color: white;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Form-btn:hover {
  color: black;
  background-color: transparent;
}
