.ToDoList {
  min-height: 60rem;
  min-width: 50rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  align-content: space-between;
  gap: 2rem;

  padding: 3rem;

  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 600px) {
  .ToDoList {
    min-height: 80vh;
  }
}

@media only screen and (max-width: 28.125em) {
  .ToDoList {
    min-height: 90vh;
  }
}

.ToDoList-heading {
  align-self: start;

  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.ToDoList-todos {
  justify-self: stretch;
  align-self: start;

  display: flex;
  flex-direction: column;

  margin-bottom: auto;
}

.ToDoList-todos > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
